---
interface Props {
  title: string;
  description: string;
  imgUrl: string;
  imgAlt: string;
  color: 'cyan' | 'red' | 'orange' | 'blue';
  class?: string;
}

const colors = {
  cyan: 'bg-cyan',
  red: 'bg-red',
  orange: 'bg-orange',
  blue: 'bg-blue',
};

const {
  title,
  description,
  imgUrl,
  imgAlt,
  color,
  class: cssClass,
} = Astro.props;
---

<div
  class={`max-w-[21.875rem] overflow-hidden rounded-lg shadow-(--box-shadow) ${cssClass}`}
>
  <hr class=`h-[.2219rem] border-none ${colors[color]}` />
  <div class='p-7 md:p-8'>
    <h2 class='text-xl font-semibold'>{title}</h2>
    <p class='text-[.8125rem] leading-[1.77] opacity-50 md:mt-1.5'>
      {description}
    </p>
    <img
      class='ms-auto mt-8 md:mt-10 md:w-16'
      src={imgUrl}
      alt={imgAlt}
      width='57'
      height='57'
    />
  </div>
</div>
